img {
  width: 80%;
  height: 400px;
  object-fit: cover;
}
.main {
  margin: 10px;
}
.content {
  color: rgb(52, 52, 56);
  overflow: auto;
  height: 8 rem;
  padding: 5px;
  text-align: justify;
}
.hello > div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: space-evenly;
}
.sub {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: rgb(52, 52, 56);
  margin: 0.5px;
}

.form {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-evenly;
  padding: 10px;
  margin: 10px;
}
input,
.submit {
  margin: 10px;
}
.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.counter {
  display: flex;
  gap: 20px;
}
body {
  /* background-image: url("https://thumbs.dreamstime.com/b/abstract-background-white-film-strip-frame-clapper-board-isolated-white-background-design-template-cinema-space-139079299.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 800;
  line-height: 20px;
}
nav {
  display: flex;
  gap: 10px;
  background-color: rgb(148, 148, 148);
  padding: 20px;
}
.home {
  margin: 100px;
  text-align: center;
}
#link {
  text-decoration: none;
  color: aliceblue;
  padding: 10px;
}
.notfound {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.notf {
  padding: 100px;
}
#not {
  text-align: center;
  padding: 10px;
}
.iframe {
  width: 500px;
  height: 60%;
  height: max-content;
  margin: 10px;
}
.navi {
  display: grid;
  gap: 10px;
}
.gameBox {
  width: 8rem;
  height: 8rem;
  border: solid black;
  font-size: 7rem;
  display: flex;
  cursor: pointer;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.281);
  align-content: center;
  justify-content: center;
  align-items: center;
}
.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  width: min-content;
  margin: 20px;
}
.gameBox:hover {
  background-color: rgba(0, 0, 0, 0.205);
}
.outercontainer {
  /* height: 44rem; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body {
  height: 47rem;
}
.css-1o6kmfp-MuiTypography-root {
  overflow: auto;
  height: 150px;
}
