img{
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.main{
  background-color: rgb(216, 216, 216);
  box-shadow: 5px 5px 10px rgb(241, 241, 241);
  width: 18rem;
  height: 40rem;
  border-radius: 10px;
  margin: 10px;
}
.content{
  color: rgb(52, 52, 56);
  overflow: auto;
  height: 11rem;
  padding: 10px;
  text-align: justify;
}
#root{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  justify-content: space-evenly;
}
.sub{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  justify-content: space-between;
    align-items: center;
}
h1{
  color: rgb(52, 52, 56);

}